<input type="checkbox" id="nav-toggle" />

<header>
  <div class="header">
    <h2>
      <label for="nav-toggle" class="nav-nav-toggle">
        <span class="toggle las la-bars"></span>
        <span class="toggles las la-bars" style="display: none;"></span>
      </label>
      User Interface
    </h2>
    <div class="search-wrapper">
      <span class="las la-search"></span>
      <input type="search" placeholder="search here" />
    </div>
    <div class="user-wrapper" style="display:flex;">
      <img src="images/BH5.png" width="60px" height="60px" alt="" />
      <div class="book-now">
        <h4>Beacon Hostel</h4>
        <h5>Booking is now</h5>
      </div>
    </div>
    <div>
    </div>
  </div>
</header>