   <div class="main-content">
        <main class="main-body">
              <!-- about us section Start-->
        <section class="about-section">
            <h1>We help students book their perfect room</h1>
            <div class="about-container1">
                <div class="about-item">
                    <div class="about-img-container">
                        <img src="images/pngaaa.com-3178779.png" alt="">
                    </div>
                    <span class="about-head">Perfect Home Guarantee</span>
                    <span class="about-desc">Select the best student accomodation, providing safe and cozy living experience</span>
                </div>
                <div class="about-item">
                    <div class="about-img-container">
                        <img src="images/pngaaa.com-3178779.png" alt="">
                    </div>
                    <span class="about-head">Price Match Promise</span>
                    <span class="about-desc">Find a low price and we'll match it</span>
                    <span class="about-desc" style="text-decoration: underline; cursor: pointer;">Terms & Conditions</span>
                </div>
                <div class="about-item">
                    <div class="about-img-container">
                        <img src="images/pngaaa.com-3178779.png" alt="">
                    </div>
                    <span class="about-head">24-hour Service of Expert Booking Team</span>
                    <span class="about-desc">Get expert advice and service around the clock from our multi-lingual team</span>
                </div> 
            </div> 
            <div class="about-container2">
                <h1>How we help you find your ideal student room...</h1>
                <div class="container2-items">
                    <div class="about-item2">
                        <div class="about-item2-ico">
                            <i class="fa fa-bed" aria-hidden="true"></i>
                        </div>
                        <div class="about-desc">
                            <span class="about-head">Over 1 million beds</span>
                            <span class="about-desc">Book your perfect room among thousands of student properties.</span>
                        </div>
                    </div>
                    <div class="about-item2">
                        <div class="about-item2-ico">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        </div>  
                        <div class="about-desc">
                            <span class="about-head">34 universities</span>
                            <span class="about-desc">Find the best choice of student accommodation<br> close to your university.</span>
                        </div>
                    </div>
                    <!-- <div class="about-item2">
                        <div class="about-item2-ico">
                            <i class="fa fa-building-o" aria-hidden="true"></i>
                        </div>
                        <div class="about-desc">
                            <span class="about-head">Over 20 districts</span>
                            <span class="about-desc">Explore student life in Uganda with our unique neighbourhood guides.</span>
                        </div>
                    </div>  -->
                </div>
            </div>
            <!-- <div class="about-container3">
                <button class="btn-about">Learn About Beaconhostel.com <i class="fa fa-long-arrow-right" style="color: white;" aria-hidden="true"></i></button>
            </div>
     -->
            
        </section>
        <!-- about us section End-->
        


            