<html lang="en">
  <body>
    <!--Navbar section start-->
    <nav class="nav-bar">
      <div class="nav-title">
        <img class="nav-logo" src="beaconlogo.jpg" />
        <h1><strong>BEACON HOSTELS</strong></h1>
      </div>
      <ul class="nav-links">
        <li class="link-prop"><a href="#">List Your Property</a></li>
        <li><a href="#"><i class="fa fa-mobile"></i> APP</a></li>
        <li><a href="#">Check-in-Extras</a></li>
        <li><a href="#">Log In</a></li>
        <li><a class="link-help" href="#">Help
            <i class="fa fa-caret-down"></i></a>
          <div class="help-dropdown">
            <ul>
              <li><a href="#">Help Center</a></li>
              <li><a href="#">How It Works</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
    <!--Navbar section end-->
  </body>
</html>