<div class="sidebar">
  <div class="sidebar-brand">
    <h1><span class="lab la-accusoft">
        <div class="item00">
          <span>BEACON HOSTEL</span>
        </div>
      </span></h1>
  </div>
  <div class="sidebar-menu">
    <ul>
      <li>
        <a href="" class="active"><span class="las la-igloo"></span>
          <div class="item0">
            <span>DashBoard</span>
          </div>
        </a>
      </li>
      <li>
        <a href=""><span class="las la-users"></span>
          <div class="item1">Users</div>
        </a>
      </li>
      <li>
        <a href=""><span class="las la-clipboard-list"></span>
          <span class="item2">Hostels</span>
        </a>
      </li>
      <li>
        <a href=""><span class="las la-igloo"></span>
          <span class="item3">DashBoard</span>
        </a>
      </li>
      <li>
        <a href=""><span class="las la-user-circle"></span>
          <span class="item4">Book Now</span>
        </a>
      </li>
      <li>
        <a href=""><span class="las la-clipboard-list"></span>
          <span class="item5">Available rooms</span>
        </a>
      </li>
      <li>
        <a href=""><span class="las la-igloo"></span>
          <span class="item6">DashBoard</span>
        </a>
      </li>
      <li>
        <a href=""><span class="las la-user-circle"></span>
          <span class="item7">Book Now</span>
        </a>
      </li>
      <li>
        <a href=""><span class="las la-clipboard-list"></span>
          <span class="item8">Available rooms</span>
        </a>
      </li>
      <li>
        <a href=""><span class="las la-user-circle"></span>
          <span class="item9">Book Now</span>
        </a>
      </li>
      <li>
        <a href=""><span class="las la-clipboard-list"></span>
          <span class="item10">Available rooms</span>
        </a>
      </li>
      <li>
        <a href=""><span class="las la-user-circle"></span>
          <span class="item11">Book Now</span>
        </a>
      </li>
      <li>
        <a href=""><span class="las la-clipboard-list"></span>
          <span class="item12">Available rooms</span>
        </a>
      </li>
      <li>
        <a href=""><span class="las la-user-circle"></span>
          <span class="item13">Book Now</span>
        </a>
      </li>
      <li>
        <a href=""><span class="las la-clipboard-list"></span>
          <span class="item14">Available rooms</span>
        </a>
      </li>
      <li>
        <a href=""><span class="las la-user-circle"></span>
          <span class="item15">Book Now</span>
        </a>
      </li>
      <li>
        <a href=""><span class="las la-clipboard-list"></span>
          <span class="item16">Available rooms</span>
        </a>
      </li>
    </ul>
  </div>
</div>
