 <!DOCTYPE html>
 <html lang="en">
 
 
 <div class="login_ctr">
        <div class="message-ctr">
            <div>We're Happy Your are here</div>
            <div>
                Hi, Beacon Hostels is very proud of you.<br> With your Beacon Hostel account, you can Book
                a hostel..., fill your account and get Your favourite hostel.....
            </div>
            <div>Dont have an account? Create one by clicking below</div>
            <div>
                <Button>
                    Create An Account
                </Button>

            </div>
        </div>
        <div class="lg_form_ctr">
            <form href="" class="login_form">
                <div class="login-logo-ctr">
                    <img src="" alt="Beaconhostels" />
                </div>
                <h3>Welcome, Sign in here</h3>
                <div class="login-inputs-ctr">

                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname" required>

                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>

                    <button type="submit">Login</button><br>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>

                </div>
                <div style="width: 100%; margin-Block: 10px;">
                    Not Registered?
                    <span style="text-Decoration: underline color blue , margin-Left 5px">
                        <a href="/register">Register Here</a>
                    </span>
                    </Link>
                </div>
            </form>
        </div>
    </div>
    </html>
