<!DOCTYPE html>
<html lang="en">
    {{>navbar}}
    <body>
    <div class="register-ctr">
        <div>
            Create Your Beacon Hostels Account
            <div class="register-logo-ctr">
                <img src="" alt="Beacon" style="height: 40px  width 100px" />
            </div>
        </div>
        <div></div>
        <div>Your Beacon Hostel Account will help us track your Bookings</div>
        <div>
            <div>
                <div style="font-Weight: bold margin 5px 0px">
                    Dear User,
                </div>
                <p style="margin: 10px 10px 10px 0px">
                    We are happy to see you registering with us.
                </p>
                <p style="margin: 10px 10px 10px 0px">
                    We promise to add value to your shopping, most importantly

                </p>
                <p>
                    Thanks for the love
                    <br />
                    <i style="font-Size: 13.5px color #3F51B5">
                        Aggi - Beacon Hostels Technician
                    </i>
                </p>
            </div>
            <div>
                <form onSubmit="">
                    <div>We're Happy your here</div>
                    <div>
                        <hr />
                        <span>Welcome</span>
                        <hr />
                    </div>
                    <div>
                        <label for="uname"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="uname" required>
                    </div>
                    <div class="register-inputs-ctr-divided">
                        <!-- <label for="uname"><b>phone</b></label> -->
                        <input type="text" placeholder="Enter Username" name="uname" required>
                        <!-- <label for="uname"><b>email</b></label> -->
                        <input type="text" placeholder="Enter Username" name="uname" required>
                    </div>
                    <div class="register-inputs-ctr-half-width">
                        <label for="uname"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="uname" required>
                    </div>
                    <div class="register-inputs-ctr-divided">
                        <!-- <label for="uname"><b>Username</b></label> -->
                        <input type="text" placeholder="Enter Username" name="uname" required>
                        <!-- <label for="uname"><b>Username</b></label> -->
                        <input type="text" placeholder="Enter Username" name="uname" required>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                    </div>
                    <div>
                        <Button>
                            Create An Account
                        </Button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{>footer}}
            </body>
</html>
